<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>New Member</title>
	</head>
	<body>
		</br>
			<center>
	      <br><br><br><br><br><br><br><br>
		<h3>Member Subscription</h3>
		</br>
		<div class="formy">
			<%= form_for(:user, url: users_path) do |f| %>
				<div class="form-group">
					<%= f.label 'Enter your First Name' %>
					<%= f.text_field :first_name, class:"form-control", placeholder:"First Name" %>
				</div>
				<div class="form-group">
					<%= f.label 'Enter your Last Name' %>
					<%= f.text_field :last_name, class:"form-control", placeholder:"Last Name" %>
				</div>
				<div class="form-group">
					<%= f.label 'Enter your E-mail' %>
					<%= f.text_field :email, class:"form-control", placeholder:"E-mail" %>
				</div>
				<div class="form-group">
					<%= f.label 'Enter your password' %>
					<%= f.password_field :password, class:"form-control", placeholder:"Password" %>
				</div>
				<div class="form-group">
					<%= f.label :remember_me, class: "checkbox inline" do %>
		        		<%= f.check_box :remember_me %><span>Remember me</span>
		      		<% end %>
				</div>
				<p><%= f.submit "Subscribe", class:"btn btn-primary" %></p>
			<% end %>
		</div>

	</body>
</html>
